<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Home - My Django App{% endblock %}

{% block content %}
<style>
    body {
        background-color: #f8f9fa;
    }
    .login-container {
        margin-top: 100px;
    }
    .c1 {
    margin-top: 140px;
    }   
</style>
{% if alert_type %}
    <div class="alert alert-{{ alert_type }}" role="alert">
        {{ alert_message }}
    </div>
{% endif %}
<!-- <div class="container mt-5">
    <h2 class="mb-4">Register</h2>
    <form method="post" action="{% url 'analysis' %}" onsubmit="return false">
        {% csrf_token %}
        <div class="form-group">
            <label for="year">Year:</label>
            <input type="number" class="form-control" id="year" name="year" required>
        </div>
        <div class="form-group">
            <label for="month">Month:</label>
            <input type="number" class="form-control" id="month" name="month" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

{% if Chart %}
    {{Chart|safe}}
{% endif %} -->
<script>

</script>

<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="custom-div">
          <div class="container mt-5">
            <h2 class="mb-4">Category-Wise Analysis</h2>
            <form id = "form" method="post" action="{% url 'analysis' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="year">Year:</label>
                    <input type="number" class="form-control" id="year" name="year" {% if year %} value = {{year}} {% endif %}required>
                </div>
                <div class="form-group">
                    <label for="month">Month:</label>
                    <input type="number" class="form-control" id="month" name="month" {% if month %} value = {{month}} {% endif %} required>
                </div>
                <button type="submit" class="btn btn-primary">Analyze</button>
            </form>
        </div>
        {% if Chart %}
            {{Chart|safe}}
        {% endif %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="custom-div">
          <div class="container mt-5">
            <h2 class="mb-4">Yearly Expense</h2>
                <div class="form-group">
                    <label for="year2">Year:</label>
                    <input type="number" form = "form" class="form-control" id="year2" name="year2" {% if year2 %} value = {{year2}} {% endif %}>
                </div>
        </div>
        <div class="c1">
        {% if Chart2 %}
            {{Chart2|safe}}
        {% endif %}
        </div>
        </div>
      </div>
    </div>
  </div>
 

{% endblock %}
