<!-- home.html -->
{% extends 'base.html' %}

{% block title %}SpendSmart Login{% endblock %}

{% block content %}
<style>
    body {
        background-color: #f8f9fa;
    }
    .login-container {
        margin-top: 100px;
    }
</style>
{% if alert_type %}
    <div class="alert alert-{{ alert_type }}" role="alert">
        {{ alert_message }}
    </div>
{% endif %}
<div class="container mt-5">
    <div>
        <style>
            .home-container {
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                padding: 20px;
                max-width: 800px;
                width: 100%;
                overflow: auto;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                background-color: #ffffff;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                margin: 20px auto;
            }
            th, td {
                border: 1px solid #dee2e6;
                padding: 10px;
                text-align: left;
            }
            th {
                background-color: #f1f5f8;
                font-weight: bold;
            }
            tr:nth-child(even) {
                background-color: #f8f9fa;
            }
            tr:hover {
                background-color: #e9ecef;
            }
            
        </style>
    </head>
    <body>
        
        
        
    </div>
</div>


    <div class="row">
        <div class="col-md-8">
            <!-- First vertical division -->
            <div class="container table-responsive">
                <div class="home-container">
                    <h2>Budgets</h2>
                    <div class="container mt-5">
                        <form method="post" action="{% url 'budget' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="year">Year:</label>
                                        <input type="number" class="form-control" id="year" name="year" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="month">Month:</label>
                                        <input type="number" class="form-control" id="month" name="month" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Filter</button>
                            </div>
                        </form>
                    </div>
                    <table>
                        <thead>
                            <tr>

                                <th>Category</th>
                                <th>Amount</th>
                                <th>Expense</th>
                                <th>Remaining Budget</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr class="transactionRow" {% if i.4 < 0 %}style="color: #ff0000;"{% endif %}>

                                <td>{{ i.0 }}</td>
                                <td>{{ i.1 }}</td>
                                <td>{{ i.3 }}</td>
                                <td>{{ i.4 }}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <!-- Second vertical division -->
            <div class="container">
                <h2 class="mt-5 mb-4">Expense Form</h2>
            
                <form id="expenseForm" method="post" action="{% url 'submitBudget' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <input type="text" class="form-control" id="description" name="description" required>
                    </div>
            
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount" step="0.01" required>
                    </div>
            
                    <div class="mb-3">
                        <label for="date" class="form-label">Date:</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
            
            
                    <div class="mb-3">
                        <label for="category" class="form-label">Category:</label>
                        <select class="form-select" id="category" name="category" required>
                            <option value="">Select a category...</option>
                            {% for id, value in parentCategories %}
                                <option value="{{ id }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <select class="form-select" id="sub-category" name="sub-category" hidden>
                            <option value="">Select a subcategory...</option>
                        </select>
                    </div>

            
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <script>
            // Get references to both dropdowns
            var dropdown1 = document.getElementById('category');
            var dropdown2 = document.getElementById('sub-category');
        
            // Define options for each category
            var categoryOptions = JSON.parse('{{grouupedCategories|escapejs}}')
            console.log(categoryOptions);
        
            // Function to populate dropdown2 based on the selected value in dropdown1
            function populateDropdown2() {
                // Clear existing options in dropdown2
                dropdown2.innerHTML = '';
        
                // Get the selected category from dropdown1
                var selectedCategory = dropdown1.value;
                var emptyOption = document.createElement('option');
                emptyOption.value = ''; // Set the value of the option
                emptyOption.textContent = 'Select an option...'; // Set the text content of the option
        
                // Append the empty default option to the select element
                dropdown2.appendChild(emptyOption);
        
                if(selectedCategory!=""){
                    // Get the options for the selected category
                    var options = categoryOptions[selectedCategory];
        
                    // Populate dropdown2 with options for the selected category
                    options.forEach(function(option) {
                        var optionElement = document.createElement('option');
                        optionElement.textContent = option[1];
                        optionElement.value = option[0];
                        dropdown2.appendChild(optionElement);
                    });
                }
            }
        
            // Populate dropdown2 initially
            populateDropdown2();
        
            // Add event listener to dropdown1 to update dropdown2 when selection changes
            dropdown1.addEventListener('change', populateDropdown2);
        </script>
{% endblock %}
